#personas h2{
    text-align: left;
    font-weight: 500;
    font-size: 1.5em;
    color: #212529;
    line-height: 1.2;
    margin-top: -10px;
    margin-left: 10px;
    

}
#personas p{
    font-size:0.62em;
    color: #1d2023;
    line-height: 1.9;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}


.contenedor-personas  a{
    margin-bottom: 5px;

}
#personas .contenedor-personas{

justify-content: center;
flex-wrap: wrap;


}
#personas article{

    border: 1px solid rgba(128, 128, 128, 0.363);
    overflow: hidden;
    border-radius: 2px;
    margin-right:0;

}
article{ width: 45%;
    margin-left:25%;
    margin-top: 10%;
}
#personas img{
    width: 110%;
    height: 60%;
    max-width: 350px;
    margin-bottom: 5px;
}


.boton-javascript{
        display: flex;
        text-decoration: none;
        padding: 3px;
        border: 1px solid #FFBD00;
        border-radius: 4px;
        color: black;
        background-color: #FFBD00;
        font-size: 0.7em;
        font-weight: 500;
        width: 70px;
        margin-left: 10px;
        font-weight: bold;
        
        
}
#boton-react1,
    #boton-react2{
        display: flex;
        background-color: #19ABC2;
        color:#f8f9fa;
        border-color:#19ABC2;
        width: 45px;
        border-radius: 3px;
        margin-left: 82px;
        margin-top: -19px;
        font-weight: 500;
        font-size: 0.9em;
     
    }

    #boton-negocios{
        display: flex;
        background-color: #6c757d;
        color:#f8f9fa;
        border-color:#6c757d;
        width: 70px;
        text-decoration: none;
        border-radius: 4px;
        font-weight:500;
        font-size: 0.9em;
        text-align: center;
        margin-left: 2px;
        padding: 2px;
    }
    #boton-startups{
        
        background-color: #d82635;
        color: #f8f9fa;
        border-color:#d82635 ;
        width: 73px;
        text-decoration: none;
        border-radius: 4px;
        display: flex;
        margin-left: 85px;
        margin-top: -23px;
        font-weight: 500;
        font-size: 0.9em;
        text-align: center;
        padding: 1px;
      
    }



    
/*RESPONSIVE*/
@media (min-width:1024px){
#personas .contenedor-personas{
        width: 1000px;
        display: flex;
        margin-left: 10%;
        }
        article{ 
        margin-left: 20px;   
        width: 30%;
        margin-top:5px;
    }
    #personas p{
        font-size:0.63em;
        color: #141618;}
}

